cg-board square.win {
  background-color: rgba(20, 85, 30, 0.5);
}

cg-board square.draw {
  background-color: rgba(30, 30, 30, 0.5);
}

cg-board square.loss {
  background-color: rgba(85, 30, 20, 0.5);
}
